[draggable=true] {
  -khtml-user-drag: element;
}

#game-box{
	width: 500px;
	height: 500px;
	border: 1px solid #ccc;
	float: left;
}

#timer{
    text-align: center;
    margin: 20px 0;
    color: #a5a5a5;
}

#free-float-zone{
	width: 100%;
	height: 340px;
	/*border: 1px solid #aaa;*/
}

#finish-line{
	height: 40px;
    border-bottom: 1px solid #aaa;
    margin: 0 100px;
    padding: 0 10px;
    line-height: 55px;
    font-size: 1.5em;
}

#instruction{
	text-align: center;
	color: #ccc;
	line-height: 40px;
}


#free-float-zone > .box {
	position: absolute;
	cursor: move;
    font-size: 1.5em;
}


#finish-line > .box {
	/* width: 100px; */
	/* height: 100px; */
	float: left;
	margin-right: 5px;
}

.drag-enter-correct {
	/*border: 2px dashed #000;*/
	background-color: #78c77a;
}

.drag-enter-incorrect {
	/*border: 2px dashed #000;*/
	background-color: #efa2a6;
}


#control-box{
	float: left;
}

#start-btn{
	background-color: #1d80e2;
    cursor: pointer;
    margin: 20px;
    color: #fff;
}

.btn{
	padding: 5px 10px;
}

#highscore-box{
	border: 1px solid #ccc;
	float: left;
	text-align: center;
}

#highscore-box th,td{
	padding: 5px 20px;
}

.text{
    text-align: left;
}

.number{
    text-align: right;
}