#game-box{
	width: 500px;
	height: 500px;
	border: 1px solid #ccc;
	float: left;
}

#timer{text-align: center;}

#free-float-zone{
	width: 100%;
	height: 80%;
	/*border: 1px solid #aaa;*/
}

#finish-line{
	height: 40px;
	width: 100%;
	/*border: 1px solid #aaa;*/
	/* float: left; */
}

#instruction{
	text-align: center;
	color: #ccc;
	line-height: 40px;
}


#free-float-zone > .box {
	position: absolute;
	cursor: move;
}


#finish-line > .box {
	/* width: 100px; */
	/* height: 100px; */
	float: left;
	margin-right: 5px;
}

.drag-enter-correct {
	/*border: 2px dashed #000;*/
	background-color: #78c77a;
}

.drag-enter-incorrect {
	/*border: 2px dashed #000;*/
	background-color: #efa2a6;
}


#control-box{
	float: left;
}

#start-btn{
	background-color: #abc;
	cursor: pointer;
	cursor: hand;
	margin: 20px;
}

.btn{
	padding: 5px 10px;
}

#highscore-box{
	border: 1px solid #ccc;
	float: left;
	text-align: center;
}

#highscore-box th,td{
	padding: 5px 20px;
}